[defaults]
# deprecation
deprecation_warnings    = False

# performance
fact_caching            = jsonfile
fact_caching_connection = ./tmp/facts_cache
fact_caching_timeout    = 3600
forks                   = 20
gather_timeout          = 30
host_key_checking       = False

# error handling
error_on_undefined_vars = True

# inventory
inventory               = inventory/hosts.ini

# output
callback_enabled        = timer, profile_tasks, profile_roles
stdout_callback         = yaml

# privilege escalation
become                  = False
become_method           = sudo
become_ask_pass         = False

# retries
retry_files_enabled     = False

# security
vault_password_file     = ./vault-password.sh

# ssh
host_key_checking       = False
remote_user             = fedora
private_key_file        = ~/.ssh/labinfra
timeout                 = 30
